    *{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
}




#footer{
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 30px;
    text-align: center;
}

#footer p{
    font-family: 'Cormorant Garamond', serif;
    padding-left: 10px;
    float: left;
    color: black;
    font-size: 11px;
}



#home{
    display: block;
    text-align: center;
    margin: 0 auto;
    background-color: #f6e6dc;
}


#welcome-cc .welcome-h{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 60px;
    padding: 0;
    margin: 0 auto;
}

#welcome-cc a{
    text-decoration: none;
}

#welcome-cc .logo{
    text-decoration: none;
    width: 250px;
    font-size: 40px;
    margin: 0 auto;
    color: black;
    text-align: center;
    background-color: none;
    padding-top: 5px;
    font-family: 'Cormorant Garamond', serif;
}


#welcome-cc .to-login {
    position: relative;
    text-decoration: none;
    font-size: 15px;
    float: right;
    color: black;
    letter-spacing: 0.5px;
    margin-top: -35px;
    padding-right: 20px;

}

#welcome-cc .to-register{
    text-decoration: none;
    font-size: 15px;
    float: right;
    color: black;
    margin-right: 90px;
    padding-right: 10px;
    letter-spacing: 0.5px;
    border-right: solid thin black;
    cursor: pointer;
    margin-top: -35px;

}


#welcome-cc .to-login:hover{
    -webkit-font-smoothing: antialiased;

}

#welcome-cc .to-register:hover{
    -webkit-font-smoothing: antialiased;
}


.header{
    display: block;
    text-align: center;
    background: url("./images/Magdalena-Jasek-and-Louise-Parker-by-Yelena-Yemchuk (1).jpg") no-repeat top center fixed;
    background-size: cover;
    height: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    color: black;
    margin-bottom: 50px;
}


.discover{
    position: relative;
    top: 250px;
    height: 50px;
    width: 200px;
    font-size: 16px;
    border: 0;
    background-color: white;
    margin: 0 auto;
    margin-top: 230px;
}


.create{
    padding-top: 200px;
    font-size: 50px;
    font-weight: bold;
    z-index: -1;
    font-family: 'Cormorant Garamond', serif;
    color: white;
}


button.discover:hover{
    background-color: rgba(255, 255, 255, 0.7);
    color: white;
}



.header1{
    background: url("./images/background.jpg") no-repeat;
    background-size: contain;
    height: 400px;
    width: 300px;
    margin: 0 auto;
    padding: 0;
    -webkit-filter: grayscale(100%);
    filter: grayscale(40%);
    margin-bottom: 50px;
    display: inline-block;
}




.header2{
    display: inline-block;
    background: url("./images/892ff5177fe16d51fc7d6ecff8f73dd8.jpg") no-repeat;
    background-size: contain;
    height: 400px;
    width: 300px;
    margin: 0 auto;
    margin-left: 100px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(40%);
    margin-bottom: 50px;
}

.header3{
    background: url("./images/168b6cd2772dd81ad47602cd75c2900e.jpg") no-repeat;
    background-size: contain;
    height: 400px;
    width: 300px;
    margin: 0 auto;
    padding: 0;
    -webkit-filter: grayscale(100%);
    filter: grayscale(40%);
    margin-bottom: 50px;
    display: inline-block;
}

.header4{
    display: inline-block;
    background: url("./images/9c9ac4bba385781a11e9ec88957c3bdd.jpg") no-repeat;
    background-size: contain;
    height: 400px;
    width: 300px;
    margin: 0 auto;
    margin-left: 100px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(40%);
    margin-bottom: 50px;
}
.header5{
    display: inline-block;
    background: url("./images/dc82077f83ef90186a299b2433e740c7.jpg") no-repeat;
    background-size: contain;
    height: 400px;
    width: 300px;
    margin: 0 auto;
    margin-left: 100px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(40%);
    margin-bottom: 50px;
}

.content{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.content{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/*REGISTER PAGE*/
.register_container{
    display: block;
    text-align: center;
    margin: auto;
    padding-top: 200px;
}

.register{
    border-radius: 5px;
    display:block;
    margin: 0 auto;
    height: 350px;
    width: 500px;
    border: solid 1px lightgrey;
    background:rgba(255,255,255, 0.6);
    z-index: 99999;
    text-align: center;
}

.register_container .signup-title{
    font-size: 25px;
}



.inputs_container{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.input{
    display: flex;
    margin: auto;
    margin-bottom: 15px;
    width: 300px;
    border: solid thin lightgrey;
    border-radius: 5px;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

button{
    background-color: transparent;
    border: solid 1px black;
    border-radius: 9px;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
}

button:hover{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 9px;
}

/*LOGIN PAGE */
#loginbody{
    background: url('./images/photo-1490707967831-1fd9b48e40e2.jpeg')  no-repeat top center fixed;
    background-size: cover;
    height: 100vh;
}

.loginbody{
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

#login-c{
    display: block;
    text-align: center;
    margin: 0 auto;
    padding-top: 200px;
}

#login button:hover{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 9px;
}

#login button{
    background-color: transparent;
    border: solid 1px black;
    border-radius: 9px;
    cursor: pointer;
}

#login{
    border-radius: 5px;
    display:block;
    margin: 0 auto;
    max-height: 400px;
    width: 500px;
    border: solid 1px lightgrey;
    background:rgba(255,255,255, 0.6);
    z-index: 99999;
    text-align: center;
}


#login .login_text{
    background-color: transparent;
    border: 0;
}

#login .login-signup{
    text-decoration: underline;
}


#login .login-signup:hover{
    font-weight: bolder;
}



/*Header Elements*/

#header{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 75px;
    padding: 0;
    margin: 0 auto;
}



.header_elements .dropDownMenu{
    float: right;
    margin: 0 auto;
    margin-top: -45px;
}

.inbox_icon{
    width: 35px;
    height: 35px;
    float: right;
    margin: 0 auto;
    margin-top: -30px;
    margin-right: 30px;
}


.upload_img{
    height: 15px;
}

.header_elements a{
    text-decoration: none;
}

.header_elements .logo{
    text-decoration: none;
    width: 250px;
    font-size: 40px;
    margin: 0 auto;
    color: black;
    text-align: center;
    background-color: none;
    padding-top: 10px;
    font-family: 'Cormorant Garamond', serif;
}


/*Cards main page*/

.cards_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
}

.card_container{
    display: flex;
    text-align: center;
    margin-top: 140px;
    cursor: pointer;
    margin-right: 40px;
    margin-left: 40px;
}

.card_container img{
    width: 300px;
    height: 320px;
    object-fit: cover;
    text-align: center;
    border: solid 1px lightgrey;
}

.card-user{
    font-size: 20px;
    padding-top: 10px;
}

.pinfo{
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    margin-top: 0 ;
    border: thin solid lightgrey;
}

textarea{
    text-align: center;
}

/*SINGLE PAGE VIEW*/

#SPV_container{
    background-color: white;
    height: 100vh;
}


.SPVbody{
    padding-top: 130px;

}

.SPV{
    display: block;
    text-align: center;
    width: 400px;
    margin: 0 auto;
    height: 573px;
    margin-bottom: 20px;
    border-top: solid 1px lightgrey;
    border-right: solid 1px lightgrey;
    border-left: solid 1px lightgrey;
    background-color: rgba(255, 255, 255, 0.5);
}


.SPV img{
    margin-top: 20px;
    border-radius: 5px;
    width: 400px;
    height: 400px;
    object-fit: contain;
}

.SPV_info{
    margin: 0 auto;
    border-bottom: solid 1px lightgrey;
    border-top: solid 1px lightgrey;
    border-radius: 5px;
    width: 400px;
    height: 150px;

}

.messageButton{
    border-radius: 5px;
    border: solid 1px grey;
    text-decoration: none;
    padding: 10px;
    color: black;

}

.messageButton:hover{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.hide{
    visibility: hidden;
}

/*upload an image view*/
.main-upload-c{
    display: block;
    text-align: center;
    margin:  0 auto;
    padding-top: 200px;
}

#uploadbody{
    background: url('./images/upload.jpeg')  no-repeat top center fixed;
    background-size: cover;
    height: 100vh;
}

#header #uploadbody{
    background-color: rgba(255, 255, 0, 0.5);
}

.upload-c {
    border-radius: 5px;
    display:block;
    margin: 0 auto;
    height: 300px;
    width: 500px;
    border: solid 1px lightgrey;
    background:rgba(255,255,255, 0.6);
    z-index: 99999;
    text-align: center;
}

.upload-c input{
    display: flex;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 300px;
    border: solid thin lightgrey;
    border-radius: 5px;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

.upload-c .upload-btn{
    cursor: pointer;
    background-color: transparent;
    height: 25px;
    font-size: 15px;
    border-radius: 5px;
}

.upload-c .upload-btn:hover{
    background-color: rgba(0, 0, 0, 0.2);
}


/*MESSAGE POP UP VIEW*/

.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 19px;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 500px;
    height: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    background: #fff;
    background-color: white;
    border-radius: 5px;
}

.modalText{
    border-bottom: solid thin lightgrey;
    padding-bottom: 10px;
}

.close {
    background: black;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}

#chat-message{
    resize: none;
    height: 150px;
    width: 350px;
    font-size: 15px;
}

.sendBtn{
    border: solid 1px lightgrey;
    margin-top: 10px;
    padding: 5px;
    width: 150px;
    font-size: 15px;
}

/*INBOX*/

#inboxbody{
    background: url('./images/photo-1462392246754-28dfa2df8e6b.jpeg');
    background-size: cover;
    height: 100vh;
}

.inboxbody{
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    height: 100vh;
    width: 100%;
}


.main-inbox-c{
    display: block;
    text-align: center;
    margin:  0 auto;
    padding-top: 170px;
}

.messagesContainer{
    display: block;
    text-align: center;
    margin: 0 auto;
    border: solid 1px grey;
    height: 400px;
    width: 600px;
    overflow-y: scroll;
    font-size: 5px;
    background-color: rgba(255, 255, 255, 0.9);
}

.in:last-of-type{
    border-bottom: none;
}

a{
    text-decoration: none;
}

#individual{
    height: 70px;
    font-size: 15px;
    border: solid 1px lightgrey;
    padding: 15px;
    margin: 0 auto;
    padding-bottom: 80px;
}

#name{
    font-size: 23px;
    color: black;
    margin-top: -15px;
}

#message{
    color: black;
    margin-bottom: 10px;
}



#individual:hover{
    background-color: rgba(0, 0, 0, 0.1);
    height: 70px;
    cursor: pointer;
}

.inboxtext{
    font-size: 30px;
    width: 100%;
    height: 60px;
}

/*SINGLE MESSAGE*/
#single_msg{
    background-color: rgba(255, 255, 255, 0.7);
    height: 100vh;
    font-weight: lighter;
    display: block;
    text-align: center;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom:  50px;
}

#single_msg textarea{
    text-align: center;
    position: relative;
    display: block;
    margin: 0 auto;
    top: 49px;
    border-radius: 6px;
    resize: none;
    height: 35px;
    width: 600px;
    border: solid thin lightgrey;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
}

#chat-container{
    text-align: center;
    position: relative;
    border-radius: 5px;
    top: 50px;
    margin: auto;
    border: solid 1px lightgrey;
    height: 400px;
    width: 600px;
    overflow-y: scroll;
    background-blend-mode: overlay;
}


.sender{
    font-size: 20px;
    padding-left: -150px;
    border-bottom: solid thin lightgrey;
    width: 100%;
    padding-bottom: 10px;
}

.messageContent{
    font-size: 15px;
    height: auto;
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    color: black;
    text-align: center;
    padding: 10px;
    -webkit-font-smoothing: antialiased;
}
